body
{
	margin: 0;
	background-color: #26282E;
	color: #b3b3ff;
    font-family: 'Arial', sans-serif;
    font-size: 28px;
}

h1
{
	font-size: 64px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 5px;
	margin-bottom: 0px;
	margin-top: 40px;
}

.addtask
{
	margin-top: 20px;
	text-align: center;
}

input
 {
	  margin-top: 10px;
	  border: solid;
	  padding: 10px;
	  font-size: 20px;
	  background-color: #b3b3ff;
}

input::placeholder 
{
	  color: white;
	  text-align: center;
}

.inputBtn
{
	background-color: #8080ff;
	margin-top: 20px;
	border: 3px black solid;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
	font-size: 28px;
}

.inputBtn:hover
{
	cursor:pointer;
	background-color: #6b6b99;
}

.list
{
	width: 900px;
	margin: auto;
	background-color: #b3b3ff;
	margin-top: 10px;
	color: white;
}

.remove
{
	background-color: #b30000;
	border: 3px black solid;
	color: rgb(0, 0, 0);
  padding: 5px 2px;
	font-size: 12px;
	position: absolute;
	margin-right: 5px;
	right: 0;
	top: 0;
	opacity: 0.7;
}

.remove:hover
{
	cursor: pointer;
	opacity: 1;
	background-color: red;
}

.edit, .save
{
	background-color: #fde937;
	border: 3px black solid;
	color: rgb(5, 0, 0);
  padding: 5px 15px;
	font-size: 12px;
	position: absolute;
	margin-right: 70px;
	right: 0;
	top: 0;
	opacity: 0.7;
}

.edit:hover, .save:hover
{
	cursor: pointer;
	opacity: 1;
	background-color: rgb(251, 255, 0);
}

.done
{
	background-color: #2d7202;
	border: 3px black solid;
	color: rgb(5, 0, 0);
  padding: 5px 12px;
	font-size: 12px;
	position: absolute;
	margin-right: 140px;
	right: 0;
	top: 0;
	opacity: 0.7;
}

.done:hover
{
	cursor: pointer;
	opacity: 1;
	background-color: rgb(34, 240, 27);
}

.element, .elementDone
{
	position: relative;
	padding: 15px 32px;
	font-size: 22px;
	word-wrap: break-word;
	padding-bottom: 10px;
	border-bottom: solid #8080ff;
	cursor: pointer;
	
}

.element:hover, .elementDone:hover
{
	background: #8080ff;
}